


/* autocomplete */
input.autocomplete-loading
{
    /*background-image:url(images/autocomplete.gif); */
    background-position: center right;
    background-repeat:no-repeat;
}
ul.autocomplete 
{
    position: absolute;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid ButtonShadow;
    margin: 0px;
    padding: 0px;
    list-style: none;
    color: #000;
    display:none;
    z-index:1000;
}
ul.autocomplete li 
{
  display: block; 
  padding: 2%; 
  overflow: hidden;
  width: 100%;
  cursor:pointer;
}

ul.autocomplete li.selected 
{
  background-color: Highlight ; 
  color: #fff;
}


/*  Datatable         */

table.datatable{
    
}

table.datatable  tr.headerrow{
   
}

table.datatable  th.headercell{
   background-color: #AAAAAA; 
   color:white;
}

table.datatable .desc{

    background-image: url("images/ui-icons_0073ea_256x240.png");
    background-position: 0 -16px;
    height: 16px;
    width: 16px;    
  
}

table.datatable .asc{

    background-image: url("images/ui-icons_0073ea_256x240.png");
    background-position: -64px -16px;
    height: 16px;
    width: 16px;   

}

table.datatable .nosort{

}



table.datatable  tr.datarow{
    
}

table.datatable  tr.odd{
    background-color: #EDEDED;
}

table.datatable  tr.even{
    background-color: #DEDEDE;
}

table.datatable  td.datacell{
    
}

table.datatable  td.footercell{
    background-color: #EEEEFF;   
}








/*  Paginator           */


ul.paginator  {

  display: inline-block;
  *display: inline;
  margin-bottom: 1;
  margin-left: 5;
  margin-right: 5;
  margin-top: 1;
 
}

ul.paginator  > li {
  display: inline;
}

ul.paginator  > li > a {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0;
  color : #000 ;
}

ul.paginator  > li > a:hover,
ul.paginator  > li > a:focus,
ul.paginator  > .active > a{
  background-color: #f5f5f5;
}

ul.paginator  > .active > a {
  color: #999999;
  cursor: default;
  background-color: #f5f5f5;
}

ul.paginator  > .disabled > a,
ul.paginator  > .disabled > a:hover,
ul.paginator  > .disabled > a:focus {
  color: #999999;
  cursor: default;
  background-color: #f5f5f5;  
}

ul.paginator  > .first > a {
    background-image: url("images/first.png");
    
  background-position: 7px 7px;
  background-repeat: no-repeat;   

}

ul.paginator  > .last > a {
    background-image: url("images/last.png");
    
  background-position: 7px 7px;
  background-repeat: no-repeat;   

}

