<html >  
    <head> 
       <link rel="stylesheet" href="/vendor/leon-mbs/zippy/assets/css/allzippy.min.css">
     <script src="/vendor/leon-mbs/zippy/assets/js/allzippy.min.js" type="text/javascript"></script>


    </head>

    <body >
      <div class="container">
      <!-- Header -->
      <div class="row">
      <div class="col-xs-12">
      
       <ul class="nav navbar-nav">
          <li  >
            <a href="/"><i class="fa fa-home"></i></a>
          </li>      
          <li  >
            <a href="/page1">Пример 1</a>
          </li>      
          <li  >
            <a href="/page2/34">Пример 2</a>
          </li>      
         <li  >
            <a href="/?p=Pages/Page3">Пример 3</a>
          </li>      
            
      </ul> 
      </div>
      </div>
      
      <!-- контент  со  страниц -->
        <childpage/>
                 
       <br>
       <br>
       <br>
       <!-- Footer --> 
        <div class="row">
        <div class="col-xs-2 col-xs-offset-5">
        <h6>© 2017</h6>
        </div>
        </div>
        
      </div>
        
    </body>
</html>                 