AddDefaultCharset utf-8
DirectoryIndex index.php

 
Redirect 301 http://zippy.com.ua/novosti.html http://zippy.com.ua/news
Redirect 301 http://zippy.com.ua/biblioteka_komponentov.html http://zippy.com.ua/biblioteka_komponentov
Redirect 301 http://zippy.com.ua/architectura.html http://zippy.com.ua/Zippy-framework/architectura
Redirect 301 http://zippy.com.ua/Zippy-framework/dopolnitelnhie_vozmojnosti.html http://zippy.com.ua/Zippy-framework/dopolnitelnhie_vozmojnosti

RewriteEngine on
RewriteBase / 

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [L,QSA]
RewriteRule .* /index.php [L,QSA]

